:root {
  --wh: 85px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Tahoma, Arial, sans-serif;
  display: flex;
}

#page-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#txtSolved {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
}

#board {
  width: calc(var(--wh) * 8);
  height: calc(var(--wh) * 8);
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.square {
  position: relative;
  width: var(--wh);
  height: var(--wh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  max-width: 80%;
  max-height: 80%;
}

.theme-default.light {
  background-color: #dee3e6;
}

.theme-default.dark {
  background-color: #8ca2ad;
}

.theme-candy.light {
  background-color: #f9e3e3;
}

.theme-candy.dark {
  background-color: #f9c3c3;
}

.theme-wood.light {
  background-color: #f0d9b5;
}

.theme-wood.dark {
  background-color: #b48863;
}

.theme-emerald.light {
  background-color: #eeeed3;
}

.theme-emerald.dark {
  background-color: #759656;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-shrink: 1;
  max-height: 100%;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
}

.btn-container {
  position: absolute;
  bottom: -7%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.highlight {
  /* put a small black circle in the middle of the square */
  background-image: radial-gradient(circle, black 5%, transparent 30%);
}

.square img {
  width: 100px;
  height: 100px;
}

.text {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letter-label {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.number-label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.my-swal {
  background-color: green;
  background: rgba(255, 255, 255, 0.5);
}

.button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 1% 2.5%;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: #f2eded;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

.solved-container {
  background-color: #e0e0f0;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.solved-item {
  background-color: #c0c0e0;
  color: black;
  min-width: 20px;
  border-radius: 25px;
  padding: 5px;
  margin-left: 3px;
  display: inline-block;
  text-align: center;
}

.solved-item:hover {
  background-color: #a0a0e0;
}

.github-fork-ribbon:before {
  background-color: #000;
}

/* Desktop */
@media only screen and (max-width: 1920px) {
  :root {
    --wh: 85px;
  }
  .button {
    font-size: 16px;
    padding: 1% 3%;
  }
}

/* Laptop */
@media only screen and (max-width: 1280px) {
  :root {
    --wh: 45px;
  }

  .button {
    font-size: 10px;
    padding: 0.5% 1.5%;
  }
}
